body { 
    background: #d6433b; 
    color: #fff; 
    font-family: Open Sans; 
}

body article{ 
  
    text-align: center;
    margin-top: 25%;
    
}

a {
    color: #fff;
    text-decoration: none;
  }